<!-- @format -->
<% layout('./layout/boilerplate.ejs') %>
<div class="container">
	<h1 id="new-head">
		Login
	</h1>
	<div class="row">
		<div id="form">
			<form action="/login" method="POST">
				<div class="form-group">
					<label for="name">Name:</label>
					<input id="name" class="form-control" type="text" name="username" placeholder="username" />
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input id="Password" class="form-control" type="password" name="password" placeholder="Password" />
				</div>

				<button class="btn btn-lg btn btn-outline-dark my-2">Submit</button>
			</form>
			<a href="/campground" class="text-dark">Go back</a>
		</div>
	</div>
</div>